*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black-with-75-opacity-for-lightbox-background: hsl(0, 0%, 0%);
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
  list-style: none;
}

ul li {
  margin-left: 1rem;
}

ul li a {
  color: var(--Dark-grayish-blue);
}

ul li a:hover {
  color: var(--Orange);
  border-bottom: 1px solid var(--Dark-grayish-blue);
}

img {
  max-width: 100%;
  border-radius: 1rem;
}

span {
  display: inline-block;
  color: var(--Orange);
  text-transform: uppercase;
  font-weight: 800;
}

h1 {
  margin: 1rem 0 0;
}

h1 + p {
  margin: 2rem 0 1rem;
  line-height: 1.5;
}

.logo {
  font-size: 1.5rem;
  font-weight: 800;
  margin-right: 3rem;
}

.text p:first-child {
  margin: 2rem 0;
}

.btn {
  border: none;
  background-color: var(--Orange);
  color: var(--White);
  padding: 0.5rem 3rem;
  border-radius: 0.4rem;
  font-size: small;
}

.gray {
  background-color: var(--Grayish-blue);
  padding-inline: 0.5rem;
  margin-right: 0.5rem;
}

.gray span {
  color: var(--White);
  margin-inline: 2rem;
}

.flex {
  display: flex;
  align-items: center;
}

.header {
  justify-content: center;
}

.header .container {
  padding: 1rem 0;
  justify-content: space-between;
  flex: 1;

  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid var(--Very-dark-blue);
}

.login img + img {
  max-width: 30%;
  margin-left: 1rem;
}

.main .container {
  width: 80%;
  margin: 0 auto;
  justify-content: space-evenly;
  padding: 1rem 2rem 0;
}

.images {
  width: 30%;
  margin-top: 5rem;
}

.text {
  width: 40%;
  position: relative;
}

.other-images {
  margin-top: 1rem;
  gap: 1rem;
}

.other-images img {
  border-radius: 0.5rem;
}

.other-images img:hover {
  border: 3px solid var(--Orange);
  opacity: 0.6;
}

.price span:nth-child(1) {
  color: var(--Very-dark-blue);
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.price span:nth-child(2) {
  background-color: var(--Light-grayish-blue);
  font-size: small;
  padding: 0.2rem;
}

.price p {
  margin: 0.4rem 0 0;
  font-size: 1.2rem;
  color: var(--Grayish-blue);
  position: relative;
  display: inline-flex;
}

.price p::after {
  content: '';
  position: absolute;
  background-color: var(--Grayish-blue);
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  height: 3px;
}

.colored {
  box-shadow: 0px 9px 14px 0px rgba(250, 11, 3, 0.6);
}

.colored p {
  margin-left: 0.5rem;
}

/* LIGHTBOX */
.addToCart,
.add,
.minus,
.mini-img {
  cursor: pointer;
}

.login > img {
  width: 30%;
  margin-left: 2rem;
}

.login > img:hover {
  border: 2px solid var(--Orange);
  border-radius: 100%;
  cursor: pointer;
}

.login a {
  display: inline-block;
}

/* chocolate.js */
.chocolat-wrapper .chocolat-bottom {
  display: none;
}

.chocolat-overlay.chocolat-visible {
  background-color: var(--Black-with-75-opacity-for-lightbox-background);
}

@media (min-width: 500px) {
  .chocolat-image-wrapper .chocolat-img {
    position: absolute;
    width: 70%;
    height: 70%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}

@media (max-width: 500px) {
  .header ul,
  .header .login > img {
    display: none;
  }

  .main .container {
    flex-direction: column;
    gap: 3rem;
    padding: 0 0 3rem;
  }

  .images {
    margin-top: 1rem;
  }

  .images,
  .text {
    width: 100%;
  }

  .addToCart {
    font-size: x-small;
  }
}
